*{
    font-family: Roboto;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #E5E7EB;
}



/* --- Main body classes for the divs that contain everything --- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex: 1;
}

.main-body {
    display: flex;
    flex-direction: column;
    flex:1;

}



/* --- Header classes --- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;

    
}

.header-left-links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 16px 0px 16px 16px;
    font-weight: normal;
    gap: 16px;
}



/* --- Section One classes --- */

.section-one{
    display: flex;
    flex-direction: row;
    /* flex: 1;  <-------------------- This property makes the div to strectch the whole viewport down */
    background-color: #1f2937;
    justify-content: center;
    align-items: stretch;
    padding: 64px 0px 64px 0px;

 
}

.section-one-text{
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 0px;
    justify-content: flex-start;
    align-items: flex-start;


}

.section-one-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 420px;

}

.section-one-subtext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    padding: 0px 16px 16px 0px;

}

.section-one-image {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 0px;
    max-width: 422px;
}

.section-one-button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 42px 8px 42px;
    font-size: 16px;
    font-weight: 900;


}


/* --- Section Two classes --- */

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0px 64px 0px;
    
}
.section-two-title {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 0px 16px 32px 16px;
}

.section-two-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

}

.section-two-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-two-img {
    border: 5px solid #3882F6;
    border-radius: 8px;


}

.section-two-text{
    display: flex;
    width: 150px;
    text-align: center;
    color:grey;
}



/* --- Section Three classes --- */

.section-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 64px;
    
}
.section-three-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 800px;
    padding: 32px;
}

.section-three-quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.section-three-thor {
    font-weight: bold;
    font-size: 32px;
}



/* --- Section Four classes --- */
.section-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 64px;
}

.section-four-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin: 32px;;
    background-color: #3882F6;
    border-radius: 10px;
    width: 800px;
}

.section-four-container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-four-title{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 20px;
}

.section-four-text{
    color: #F9FAF8;
}

.second-button {
    border: 2px solid white;
    margin-left: 64px;
}


/* --- Footer classes --- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 16px;
}