*{
    border: 1px solid red;
    font-family: Roboto;
}


body{
    display: flex;
    flex-direction: column;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.lateral-borders{
    display: flex;
    flex-direction: row;
    padding: 64px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.header-left-links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 16px;
}


.section-one{

}

.section-two{

}

.section-three {

}

.section-four {

}

.footer {
    padding: 64px;
}