*{
    border: 1px solid red;
    font-family: Roboto;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-direction: column;
    flex:1;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex: 1;
}

.lateral-borders{
    display: flex;
    flex-direction: row;
    padding: 64px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    padding-left: 5px;
    
}

.header-left-links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 16px 0px 16px 16px;
    font-weight: normal;
    gap: 16px;
}


.section-one{
    display: flex;
    flex-direction: row;
    /* flex: 1;  <-------------------- This property makes the div to strectch the whole viewport down */
    background-color: #1f2937;
    justify-content: center;
    align-items: stretch;
    padding: 32px 0px 32px 0px;

 
}

.section-one-text{
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 0px;
    justify-content: flex-start;
    align-items: flex-start;


}

.section-one-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 420px;

}

.section-one-subtext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    padding: 0px 16px 16px 0px;

}

.section-one-image {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 0px;
    max-width: 422px;
}

.section-one-button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 42px 8px 42px;
    font-size: 16px;
    font-weight: 900;

}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px 32px 0px;
    
}
.section-two-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 16px;
}

.section-two-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.section-two-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-two-img {
    border: 5px solid #3882F6;
    border-radius: 5px;

}

.section-two-text{
    display: flex;
    width: 200px;
    text-align: center;
    color:grey;
}


.section-three {
    display: flex;
}

.section-four {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 16px;
}