*{
    border: 1px solid red;
    font-family: Roboto;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-direction: column;
    flex:1;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex: 1;
}

.lateral-borders{
    display: flex;
    flex-direction: row;
    padding: 64px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    
}

.header-left-links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 16px;
    font-weight: normal;
    gap: 16px;
}


.section-one{
    display: flex;
    flex-direction: row;
    /* flex: 1;  <-------------------- This property makes the div to strectch the whole viewport down */
    background-color: #1f2937;
    justify-content: center;
    align-items: stretch;
 
}

.section-one-text{
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 0px;


}

.section-one-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 420px;

}

.section-one-subtext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    width: 420px;
    padding: 0px 16px 16px 0px;
}

.section-one-image {
  display: flex;
  flex-direction: column;
    padding: 16px 0px 16px 16px;
  max-width: 450px;

}

.section-two{
    display: flex;
}

.section-three {
    display: flex;
}

.section-four {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 16px;
}