*{
    border: 1px solid red;
    font-family: Roboto;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    
}

.lateral-borders{
    display: flex;
    flex-direction: row;
    padding: 64px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    
}

.header-left-links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 16px;
    font-weight: normal;
    gap: 16px;
}


.section-one{
    display: flex;
    flex-direction: row;
}

.section-one-text{
    display: flex;
    flex-direction: column;
}

.section-one-image{
    display: flex;
    padding: 16px;
}

.section-two{
    display: flex;
}

.section-three {
    display: flex;
}

.section-four {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 16px;
}